nifi-data-pipeline/KafkaProducer.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description></description>
    <groupId>8cd753a2-0180-1000-a5a1-5c759dff20ca</groupId>
    <name>KafkaProducer</name>
    <snippet>
        <processGroups>
            <id>a50dbc42-5ed4-3812-0000-000000000000</id>
            <parentGroupId>3e9b45c0-ae40-30e8-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <comments></comments>
            <contents>
                <connections>
                    <id>1bf7e918-bd3e-3d50-0000-000000000000</id>
                    <parentGroupId>a50dbc42-5ed4-3812-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>a50dbc42-5ed4-3812-0000-000000000000</groupId>
                        <id>ff1f0baf-09e3-360b-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>split</selectedRelationships>
                    <source>
                        <groupId>a50dbc42-5ed4-3812-0000-000000000000</groupId>
                        <id>8526f746-19f4-33fb-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>74489872-2b56-3123-0000-000000000000</id>
                    <parentGroupId>a50dbc42-5ed4-3812-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>a50dbc42-5ed4-3812-0000-000000000000</groupId>
                        <id>8526f746-19f4-33fb-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>a50dbc42-5ed4-3812-0000-000000000000</groupId>
                        <id>9274c49d-1bb5-3733-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>df102c20-b8ad-36cf-0000-000000000000</id>
                    <parentGroupId>a50dbc42-5ed4-3812-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>a50dbc42-5ed4-3812-0000-000000000000</groupId>
                        <id>c4e1fb19-fa84-3487-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>a50dbc42-5ed4-3812-0000-000000000000</groupId>
                        <id>ff1f0baf-09e3-360b-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>f094842d-8a99-388a-0000-000000000000</id>
                    <parentGroupId>a50dbc42-5ed4-3812-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>a50dbc42-5ed4-3812-0000-000000000000</groupId>
                        <id>db88326a-e3b0-3531-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>a50dbc42-5ed4-3812-0000-000000000000</groupId>
                        <id>ff1f0baf-09e3-360b-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>ff0a7e24-f76f-32e7-0000-000000000000</id>
                    <parentGroupId>a50dbc42-5ed4-3812-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>a50dbc42-5ed4-3812-0000-000000000000</groupId>
                        <id>db88326a-e3b0-3531-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>a50dbc42-5ed4-3812-0000-000000000000</groupId>
                        <id>8526f746-19f4-33fb-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <outputPorts>
                    <id>c4e1fb19-fa84-3487-0000-000000000000</id>
                    <parentGroupId>a50dbc42-5ed4-3812-0000-000000000000</parentGroupId>
                    <position>
                        <x>568.0</x>
                        <y>800.0</y>
                    </position>
                    <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                    <name>Log Success</name>
                    <state>STOPPED</state>
                    <type>OUTPUT_PORT</type>
                </outputPorts>
                <outputPorts>
                    <id>db88326a-e3b0-3531-0000-000000000000</id>
                    <parentGroupId>a50dbc42-5ed4-3812-0000-000000000000</parentGroupId>
                    <position>
                        <x>1184.0</x>
                        <y>504.0</y>
                    </position>
                    <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                    <name>Log Failure</name>
                    <state>STOPPED</state>
                    <type>OUTPUT_PORT</type>
                </outputPorts>
                <processors>
                    <id>8526f746-19f4-33fb-0000-000000000000</id>
                    <parentGroupId>a50dbc42-5ed4-3812-0000-000000000000</parentGroupId>
                    <position>
                        <x>512.0</x>
                        <y>368.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.16.1</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>JsonPath Expression</key>
<value>
    <name>JsonPath Expression</name>
</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>
    <name>Null Value Representation</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>JsonPath Expression</key>
<value>$.*</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>empty string</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>SplitJson</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>original</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>split</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.SplitJson</type>
                </processors>
                <processors>
                    <id>9274c49d-1bb5-3733-0000-000000000000</id>
                    <parentGroupId>a50dbc42-5ed4-3812-0000-000000000000</parentGroupId>
                    <position>
                        <x>507.0</x>
                        <y>181.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.16.1</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>File Size</key>
<value>
    <name>File Size</name>
</value>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>
    <name>Batch Size</name>
</value>
                            </entry>
                            <entry>
<key>Data Format</key>
<value>
    <name>Data Format</name>
</value>
                            </entry>
                            <entry>
<key>Unique FlowFiles</key>
<value>
    <name>Unique FlowFiles</name>
</value>
                            </entry>
                            <entry>
<key>generate-ff-custom-text</key>
<value>
    <name>generate-ff-custom-text</name>
</value>
                            </entry>
                            <entry>
<key>character-set</key>
<value>
    <name>character-set</name>
</value>
                            </entry>
                            <entry>
<key>mime-type</key>
<value>
    <name>mime-type</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>File Size</key>
<value>0B</value>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>1</value>
                            </entry>
                            <entry>
<key>Data Format</key>
<value>Text</value>
                            </entry>
                            <entry>
<key>Unique FlowFiles</key>
<value>false</value>
                            </entry>
                            <entry>
<key>generate-ff-custom-text</key>
<value>[
  {
    "marketplace": "US",
    "customer_id": "18778586",
    "review_id": "RDIJS7QYB6XNR",
    "product_id": "B00EDBY7X8",
    "product_parent": "122952789",
    "product_title": "Monopoly Junior Board Game",
    "product_category": "Toys",
    "star_rating": "5",
    "helpful_votes": "0",
    "total_votes": "0",
    "vine": "N",
    "verified_purchase": "Y",
    "review_headline": "Five Stars",
    "review_body": "Excellent!!!",
    "review_date": "2015-08-31"
  },
  {
    "marketplace": "US",
    "customer_id": "24769659",
    "review_id": "R36ED1U38IELG8",
    "product_id": "B00D7JFOPC",
    "product_parent": "952062646",
    "product_title": "56 Pieces of Wooden Train Track Compatible with All Major Train Brands",
    "product_category": "Toys",
    "star_rating": "5",
    "helpful_votes": "0",
    "total_votes": "0",
    "vine": "N",
    "verified_purchase": "Y",
    "review_headline": "Good quality track at excellent price",
    "review_body": "Great quality wooden track (better than some others we have tried). Perfect match to the various vintages of Thomas track that we already have. There is enough track here to have fun and get creative incorporating your key pieces with track splits, loops and bends.",
    "review_date": "2015-08-31"
  },
  {
    "marketplace": "US",
    "customer_id": "44331596",
    "review_id": "R1UE3RPRGCOLD",
    "product_id": "B002LHA74O",
    "product_parent": "818126353",
    "product_title": "Super Jumbo Playing Cards by S&amp;S Worldwide",
    "product_category": "Toys",
    "star_rating": "2",
    "helpful_votes": "1",
    "total_votes": "1",
    "vine": "N",
    "verified_purchase": "Y",
    "review_headline": "Two Stars",
    "review_body": "Cards are not as big as pictured.",
    "review_date": "2015-08-31"
  },
  {
    "marketplace": "US",
    "customer_id": "23310293",
    "review_id": "R298788GS6I901",
    "product_id": "B00ARPLCGY",
    "product_parent": "261944918",
    "product_title": "Barbie Doll and Fashions Barbie Gift Set",
    "product_category": "Toys",
    "star_rating": "5",
    "helpful_votes": "0",
    "total_votes": "0",
    "vine": "N",
    "verified_purchase": "Y",
    "review_headline": "my daughter loved it and i liked the price and it came ...",
    "review_body": "my daughter loved it and i liked the price and it came to me rather than shopping with a ton of people around me. Amazon is the Best way to shop!",
    "review_date": "2015-08-31"
  },
  {
    "marketplace": "US",
    "customer_id": "38745832",
    "review_id": "RNX4EXOBBPN5",
    "product_id": "B00UZOPOFW",
    "product_parent": "717410439",
    "product_title": "Emazing Lights eLite Flow Glow Sticks - Spinning Light LED Toy",
    "product_category": "Toys",
    "star_rating": "1",
    "helpful_votes": "1",
    "total_votes": "1",
    "vine": "N",
    "verified_purchase": "Y",
    "review_headline": "DONT BUY THESE!",
    "review_body": "Do not buy these! They break very fast I spun then for 15 minutes and the end flew off don't waste your money. They are made from cheap plastic and have cracks in them. Buy the poi balls they work a lot better if you only have limited funds.",
    "review_date": "2015-08-31"
  },
  {
    "marketplace": "US",
    "customer_id": "13394189",
    "review_id": "R3BPETL222LMIM",
    "product_id": "B009B7F6CA",
    "product_parent": "873028700",
    "product_title": "Melissa &amp; Doug Water Wow Coloring Book - Vehicles",
    "product_category": "Toys",
    "star_rating": "5",
    "helpful_votes": "0",
    "total_votes": "0",
    "vine": "N",
    "verified_purchase": "Y",
    "review_headline": "Five Stars",
    "review_body": "Great item. Pictures pop thru and add detail as &amp;#34;painted.&amp;#34;  Pictures dry and it can be repainted.",
    "review_date": "2015-08-31"
  },
  {
    "marketplace": "US",
    "customer_id": "2749569",
    "review_id": "R3SORMPJZO3F2J",
    "product_id": "B0101EHRSM",
    "product_parent": "723424342",
    "product_title": "Big Bang Cosmic Pegasus (Pegasis) Metal 4D High Performance Generic Battling Top BB-105",
    "product_category": "Toys",
    "star_rating": "3",
    "helpful_votes": "2",
    "total_votes": "2",
    "vine": "N",
    "verified_purchase": "Y",
    "review_headline": "Three Stars",
    "review_body": "To keep together, had to use crazy  glue.",
    "review_date": "2015-08-31"
  },
  {
    "marketplace": "US",
    "customer_id": "41137196",
    "review_id": "R2RDOJQ0WBZCF6",
    "product_id": "B00407S11Y",
    "product_parent": "383363775",
    "product_title": "Fun Express Insect Finger Puppets 12ct Toy",
    "product_category": "Toys",
    "star_rating": "5",
    "helpful_votes": "0",
    "total_votes": "0",
    "vine": "N",
    "verified_purchase": "Y",
    "review_headline": "Five Stars",
    "review_body": "I was pleased with the product.",
    "review_date": "2015-08-31"
  },
  {
    "marketplace": "US",
    "customer_id": "433677",
    "review_id": "R2B8VBEPB4YEZ7",
    "product_id": "B00FGPU7U2",
    "product_parent": "780517568",
    "product_title": "Fisher-Price Octonauts Shellington's On-The-Go Pod Toy",
    "product_category": "Toys",
    "star_rating": "5",
    "helpful_votes": "0",
    "total_votes": "0",
    "vine": "N",
    "verified_purchase": "Y",
    "review_headline": "Five Stars",
    "review_body": "Children like it",
    "review_date": "2015-08-31"
  },
  {
    "marketplace": "US",
    "customer_id": "1297934",
    "review_id": "R1CB783I7B0U52",
    "product_id": "B0013OY0S0",
    "product_parent": "269360126",
    "product_title": "Claw Climber Goliath/ Disney's Gargoyles",
    "product_category": "Toys",
    "star_rating": "1",
    "helpful_votes": "0",
    "total_votes": "1",
    "vine": "N",
    "verified_purchase": "Y",
    "review_headline": "Shame on the seller !!!",
    "review_body": "Showed up not how it's shown . Was someone's old toy. with paint on it.",
    "review_date": "2015-08-31"
  },
  {
    "marketplace": "US",
    "customer_id": "52006292",
    "review_id": "R2D90RQQ3V8LH",
    "product_id": "B00519PJTW",
    "product_parent": "493486387",
    "product_title": "100 Foot Multicolor Pennant Banner",
    "product_category": "Toys",
    "star_rating": "5",
    "helpful_votes": "0",
    "total_votes": "0",
    "vine": "N",
    "verified_purchase": "Y",
    "review_headline": "Five Stars",
    "review_body": "Really liked these. They were a little larger than I thought, but still fun.",
    "review_date": "2015-08-31"
  },
  {
    "marketplace": "US",
    "customer_id": "32071052",
    "review_id": "R1Y4ZOUGFMJ327",
    "product_id": "B001TCY2DO",
    "product_parent": "459122467",
    "product_title": "Pig Jumbo Foil Balloon",
    "product_category": "Toys",
    "star_rating": "5",
    "helpful_votes": "0",
    "total_votes": "0",
    "vine": "N",
    "verified_purchase": "Y",
    "review_headline": "Nice huge balloon",
    "review_body": "Nice huge balloon! Had my local grocery store fill it up for a very small fee, it was totally worth it!",
    "review_date": "2015-08-31"
  },
  {
    "marketplace": "US",
    "customer_id": "7360347",
    "review_id": "R2BUV9QJI2A00X",
    "product_id": "B00DOQCWF8",
    "product_parent": "226984155",
    "product_title": "Minecraft Animal Toy (6-Pack)",
    "product_category": "Toys",
    "star_rating": "5",
    "helpful_votes": "0",
    "total_votes": "1",
    "vine": "N",
    "verified_purchase": "Y",
    "review_headline": "Five Stars",
    "review_body": "Great deal",
    "review_date": "2015-08-31"
  },
  {
    "marketplace": "US",
    "customer_id": "11613707",
    "review_id": "RSUHRJFJIRB3Z",
    "product_id": "B004C04I4I",
    "product_parent": "375659886",
    "product_title": "Disney Baby: Eeyore Large Plush",
    "product_category": "Toys",
    "star_rating": "4",
    "helpful_votes": "0",
    "total_votes": "0",
    "vine": "N",
    "verified_purchase": "Y",
    "review_headline": "Four Stars",
    "review_body": "As Advertised",
    "review_date": "2015-08-31"
  },
  {
    "marketplace": "US",
    "customer_id": "13545982",
    "review_id": "R1T96CG98BBA15",
    "product_id": "B00NWGEKBY",
    "product_parent": "933734136",
    "product_title": "Team Losi 8IGHT-E RTR AVC Electric 4WD Buggy Vehicle (1/8 Scale)",
    "product_category": "Toys",
    "star_rating": "3",
    "helpful_votes": "2",
    "total_votes": "4",
    "vine": "N",
    "verified_purchase": "Y",
    "review_headline": "... servo so expect to spend 150 more on a good servo immediately be the stock one breaks right",
    "review_body": "Comes w a 15$ servo so expect to spend 150 more on a good servo immediately be the stock one breaks right away",
    "review_date": "2015-08-31"
  },
  {
    "marketplace": "US",
    "customer_id": "43880421",
    "review_id": "R2ATXF4QQ30YW",
    "product_id": "B00000JS5S",
    "product_parent": "341842639",
    "product_title": "Hot Wheels 48- Car storage Case With Easy Grip Carrying Case",
    "product_category": "Toys",
    "star_rating": "5",
    "helpful_votes": "0",
    "total_votes": "0",
    "vine": "N",
    "verified_purchase": "Y",
    "review_headline": "Five Stars",
    "review_body": "awesome ! Thanks!",
    "review_date": "2015-08-31"
  },
  {
    "marketplace": "US",
    "customer_id": "1662075",
    "review_id": "R1YS3DS218NNMD",
    "product_id": "B00XPWXYDK",
    "product_parent": "210135375",
    "product_title": "ZuZo 2.4GHz 4 CH 6 Axis Gyro RC Quadcopter Drone with Camera &amp; LED Lights, 38 x 38 x 7cm",
    "product_category": "Toys",
    "star_rating": "5",
    "helpful_votes": "4",
    "total_votes": "4",
    "vine": "N",
    "verified_purchase": "N",
    "review_headline": "The closest relevance I have to items like these is while in the army I was trained ...",
    "review_body": "I got this item for me and my son to play around with. The closest relevance I have to items like these is while in the army I was trained in the camera rc bots. This thing is awesome we tested the range and got somewhere close to 50 yards without an issue. Getting the controls is a bit tricky at first but after about twenty minutes you get the feel for it. The drone comes just about fly ready you just have to sync the controller. I am definitely a fan of the drones now. Only concern I have is maybe a little more silent but other than that great buy.&lt;br /&gt;&lt;br /&gt;*Disclaimer I received this product at a discount for my unbiased review.",
    "review_date": "2015-08-31"
  },
  {
    "marketplace": "US",
    "customer_id": "18461411",
    "review_id": "R2SDXLTLF92O0H",
    "product_id": "B00VPXX92W",
    "product_parent": "705054378",
    "product_title": "Teenage Mutant Ninja Turtles T-Machines Tiger Claw in Safari Truck Diecast Vehicle",
    "product_category": "Toys",
    "star_rating": "5",
    "helpful_votes": "0",
    "total_votes": "0",
    "vine": "N",
    "verified_purchase": "Y",
    "review_headline": "Five Stars",
    "review_body": "It was a birthday present for my grandson and he LOVES IT!!",
    "review_date": "2015-08-31"
  },
  {
    "marketplace": "US",
    "customer_id": "27225859",
    "review_id": "R4R337CCDWLNG",
    "product_id": "B00YRA3H4U",
    "product_parent": "223420727",
    "product_title": "Franklin Sports MLB Fold Away Batting Tee",
    "product_category": "Toys",
    "star_rating": "3",
    "helpful_votes": "0",
    "total_votes": "1",
    "vine": "Y",
    "verified_purchase": "N",
    "review_headline": "Got wrong product in the shipment",
    "review_body": "Got a wrong product from Amazon Vine and unable to provide a good review. We received a pair of cute girls gloves and a baseball ball instead, while we were expecting a boys batting tee. The gloves are cute, however made for at least 6+ yrs or above...more likely 8-9 yrs old girls.&lt;br /&gt;&lt;br /&gt;Can't provide a fair review as we were not able to use the product.",
    "review_date": "2015-08-31"
  },
  {
    "marketplace": "US",
    "customer_id": "20494593",
    "review_id": "R32Z6UA4S5Q630",
    "product_id": "B009T8BSQY",
    "product_parent": "787701676",
    "product_title": "Alien Frontiers: Factions",
    "product_category": "Toys",
    "star_rating": "1",
    "helpful_votes": "0",
    "total_votes": "0",
    "vine": "N",
    "verified_purchase": "Y",
    "review_headline": "Overpriced.",
    "review_body": "You need expansion packs 3-5 if you want access to the player aids for the Factions expansion. The base game of Alien Frontiers just plays so much smoother than adding Factions with the expansion packs. All this will do is pigeonhole you into a certain path to victory.",
    "review_date": "2015-08-31"
  },
  {
    "marketplace": "US",
    "customer_id": "6762003",
    "review_id": "R1H1HOVB44808I",
    "product_id": "B00PXWS1CY",
    "product_parent": "996611871",
    "product_title": "Holy Stone F180C Mini RC Quadcopter Drone with Camera 2.4GHz 6-Axis Gyro Bonus Battery and 8 Blades",
    "product_category": "Toys",
    "star_rating": "5",
    "helpful_votes": "1",
    "total_votes": "1",
    "vine": "N",
    "verified_purchase": "N",
    "review_headline": "Five Stars",
    "review_body": "Awesome customer service and a cool little drone! Especially for the price!",
    "review_date": "2015-08-31"
  },
  {
    "marketplace": "US",
    "customer_id": "25402244",
    "review_id": "R4UVQIRZ5T1FM",
    "product_id": "1591749352",
    "product_parent": "741582499",
    "product_title": "Klutz Sticker Design Studio: Create Your Own Custom Stickers Craft Kit",
    "product_category": "Toys",
    "star_rating": "4",
    "helpful_votes": "1",
    "total_votes": "2",
    "vine": "N",
    "verified_purchase": "Y",
    "review_headline": "Great product for little girls!",
    "review_body": "I got these for my daughters for plane trip. I liked that the zipper pouch was attached for markers.  However, that pouch fell off.  But the girls have loved coloring their own stickers. Would def buy this again.",
    "review_date": "2015-08-31"
  },
  {
    "marketplace": "US",
    "customer_id": "32910511",
    "review_id": "R226K8IJLRPTIR",
    "product_id": "B00V5DM3RE",
    "product_parent": "587799706",
    "product_title": "Yoga Joes - Green Army Men Toys",
    "product_category": "Toys",
    "star_rating": "5",
    "helpful_votes": "0",
    "total_votes": "1",
    "vine": "N",
    "verified_purchase": "Y",
    "review_headline": "Creative and fun!",
    "review_body": "My girlfriend and I are both into yoga and I gave her a set of the Yoga Joes for her new home yoga room. When she saw them, she was impressed that I had found little green army men like her brother used to play with. Then she realized they were doing yoga and she almost exploded with delight. You should have seen the look on her face. Needless to say, the gift was a huge hit. They are absolutely brilliant!",
    "review_date": "2015-08-31"
  },
  {
    "marketplace": "US",
    "customer_id": "18206299",
    "review_id": "R3031Q42BKAN7J",
    "product_id": "B00UMSVHD4",
    "product_parent": "135383196",
    "product_title": "Lalaloopsy Girls Basic Doll- Prairie Dusty Trails",
    "product_category": "Toys",
    "star_rating": "4",
    "helpful_votes": "1",
    "total_votes": "1",
    "vine": "N",
    "verified_purchase": "N",
    "review_headline": "i like it but i absoloutely hate that some dolls don't ...",
    "review_body": "i like it but i absoloutely hate that some dolls don't have pets like this one so I'm not stoked and i really would have liked to see her pet",
    "review_date": "2015-08-31"
  },
  {
    "marketplace": "US",
    "customer_id": "26599182",
    "review_id": "R44NP0QG6E98W",
    "product_id": "B00JLKI69W",
    "product_parent": "375626298",
    "product_title": "WOW Toys Town Advent Calendar",
    "product_category": "Toys",
    "star_rating": "3",
    "helpful_votes": "1",
    "total_votes": "1",
    "vine": "N",
    "verified_purchase": "Y",
    "review_headline": "We love how well they are made",
    "review_body": "We have MANY Wow toys in our home.  We love how well they are made.  The advent calendar is an exception.  The plastic is thinner than our other wow toys and the barn animals won't even stand up on their own due to the head weighing more than the body and uneven base of the toy.  Very disappointing when we love the concept.  The story to read along with everyday is great.  I would have preferred quality (and would have paid more for it) instead of a cheap &amp;#34;knock-off&amp;#34; of the rest of their toy line.  It is very obvious by the weight of the toys sloppy paint jobs which items in our &amp;#34;Wow Toys&amp;#34; bin are part advent calendar vs. the rest of the toys we have.  Also there is a lot of overlap between the wow town advent calendar &amp; winter wonderland calendar, which makes me want to look for alternatives for this year's advent calendar options.",
    "review_date": "2015-08-31"
  },
  {
    "marketplace": "US",
    "customer_id": "128540",
    "review_id": "R24VKWVWUMV3M3",
    "product_id": "B004S8F7QM",
    "product_parent": "829220659",
    "product_title": "Cards Against Humanity",
    "product_category": "Toys",
    "star_rating": "5",
    "helpful_votes": "0",
    "total_votes": "0",
    "vine": "N",
    "verified_purchase": "Y",
    "review_headline": "Five Stars",
    "review_body": "Tons of fun",
    "review_date": "2015-08-31"
  },
  {
    "marketplace": "US",
    "customer_id": "125518",
    "review_id": "R2MW3TEBPWKENS",
    "product_id": "B00MZ6BR3Q",
    "product_parent": "145562057",
    "product_title": "Monster High Haunted Student Spirits Porter Geiss Doll",
    "product_category": "Toys",
    "star_rating": "5",
    "helpful_votes": "0",
    "total_votes": "0",
    "vine": "N",
    "verified_purchase": "Y",
    "review_headline": "Five Stars",
    "review_body": "Love it great add to collecton",
    "review_date": "2015-08-31"
  },
  {
    "marketplace": "US",
    "customer_id": "15048896",
    "review_id": "R3N01IESYEYW01",
    "product_id": "B001CTOC8O",
    "product_parent": "278247652",
    "product_title": "Star Wars Clone Wars Clone Trooper Child's Deluxe Captain Rex Costume",
    "product_category": "Toys",
    "star_rating": "5",
    "helpful_votes": "0",
    "total_votes": "1",
    "vine": "N",
    "verified_purchase": "Y",
    "review_headline": "Five Stars",
    "review_body": "Exactly as described.  Fits my 7-yr old well!",
    "review_date": "2015-08-31"
  },
  {
    "marketplace": "US",
    "customer_id": "12191231",
    "review_id": "RKLAK7EPEG5S6",
    "product_id": "B00BMKL5WY",
    "product_parent": "906199996",
    "product_title": "LEGO Creative Tower Building Kit XXL 1600 Pieces 10664",
    "product_category": "Toys",
    "star_rating": "5",
    "helpful_votes": "1",
    "total_votes": "2",
    "vine": "N",
    "verified_purchase": "Y",
    "review_headline": "The children LOVED them and best part was that it helped the ...",
    "review_body": "Purchased these Lego's to help aid me with teaching my Sunday School class. The children LOVED them and best part was that it helped the children remember past lessons. The true Lego brand seem to work/snap together/fit together better than the generic brands. (Plus I had some Lego snobs in my class that only would use the real Lego brand and shunned the generic brand). Only wish Lego's were a little cheaper but you get what you pay for and I would recommend for quality to purchase this set.",
    "review_date": "2015-08-31"
  },
  {
    "marketplace": "US",
    "customer_id": "18409006",
    "review_id": "R1HOJ5GOA2JWM0",
    "product_id": "B00L71H0F4",
    "product_parent": "692305292",
    "product_title": "Barkology Princess the Poodle Hand Puppet",
    "product_category": "Toys",
    "star_rating": "2",
    "helpful_votes": "1",
    "total_votes": "1",
    "vine": "N",
    "verified_purchase": "Y",
    "review_headline": "My little dog can bite my hand right through the puupet.",
    "review_body": "IT's OK, but not as good as the old Bite Meez puppets. This puppet is very thin. My little yorkie often bites my hands right through the stuffing. It not durable enough to really play with.",
    "review_date": "2015-08-31"
  },
  {
    "marketplace": "US",
    "customer_id": "42523709",
    "review_id": "RO5VL1EAPX6O3",
    "product_id": "B004CLZRM4",
    "product_parent": "59085350",
    "product_title": "Intex Mesh Lounge (Colors May Vary)",
    "product_category": "Toys",
    "star_rating": "1",
    "helpful_votes": "0",
    "total_votes": "0",
    "vine": "N",
    "verified_purchase": "Y",
    "review_headline": "Save your money...don't buy!",
    "review_body": "This was to be a gift for my husband for our new pool. Did not receive the color I ordered but most of all after only one month of use (not continuously) the mesh pulled away from the material and the inflatable side. Completely shredded and no longer of use. It was stored properly and was not kept outside or in the pool. Poorly made, better off going to W**-M*** and getting something on clearance.",
    "review_date": "2015-08-31"
  },
  {
    "marketplace": "US",
    "customer_id": "45601416",
    "review_id": "R3OSJU70OIBWVE",
    "product_id": "B000PEOMC8",
    "product_parent": "895316207",
    "product_title": "Intex River Run I Sport Lounge, Inflatable Water Float, 53 in Diameter",
    "product_category": "Toys",
    "star_rating": "5",
    "helpful_votes": "0",
    "total_votes": "0",
    "vine": "N",
    "verified_purchase": "Y",
    "review_headline": "but I've bought one in the past and loved",
    "review_body": "Ended up sending this guy back because I didnt need it, but I've bought one in the past and loved it",
    "review_date": "2015-08-31"
  },
  {
    "marketplace": "US",
    "customer_id": "47546726",
    "review_id": "R3NFZZCJSROBT4",
    "product_id": "B008W1BPWQ",
    "product_parent": "397107238",
    "product_title": "Peppa Pig 7 Wood Puzzles In Wooden Storage Box (styles will vary)",
    "product_category": "Toys",
    "star_rating": "3",
    "helpful_votes": "0",
    "total_votes": "0",
    "vine": "N",
    "verified_purchase": "Y",
    "review_headline": "Three Stars",
    "review_body": "The product is good, but the box was broken.",
    "review_date": "2015-08-31"
  },
  {
    "marketplace": "US",
    "customer_id": "21448082",
    "review_id": "R47XBGQFP039N",
    "product_id": "B00FZX71BI",
    "product_parent": "480992295",
    "product_title": "Paraboard - Parallel Charging Board for Lipos with EC5 Connectors",
    "product_category": "Toys",
    "star_rating": "5",
    "helpful_votes": "0",
    "total_votes": "0",
    "vine": "N",
    "verified_purchase": "Y",
    "review_headline": "CAN SAVE TME IF YOU UNDESTAND HOW IT WORKS .",
    "review_body": "Works well ,quality product but this style of board will charge multiple batteries at the same time SAFELY  ( IF )  ALL BATTERIES ARE OF THE SAME CELL COUNT , THE SAME BATTERY COMPOSITION ( LIPO, NIMH-etc ) AND THEY MUST HAVE INDIVIDUAL CELL VOLTAGES THAT ARE VERY CLOSE AND EQUAL TO EACH BATTERY CONNECTED AT THE SAME TIME . When board is connected to most if not all chargers it can only read total and individual cell voltage of ONE OF THE BATTERIES AND MAY OVER OR UNDER CHARGE THE OTHERS TO SOME DEGREE , TOTAL RATE OF CHARGE IS DIVIDED EQUALLY BETWEEN BATTERIES CONNECTED AT THE SAME TIME . Close monitoring is a must  when using like all high discharge batteies . I  have only personally expeienced one lipo battery meltdown and it is a very  SHORT IF NOT  NON EXISTANT WINDOW OF OPPERUNITY TO PREVENT OR MINIMISE THE COLATTERAL DAMAGE ONCE THE PROCESS STARTS . Read and understand all charging and battery instructions .",
    "review_date": "2015-08-31"
  },
  {
    "marketplace": "US",
    "customer_id": "12612039",
    "review_id": "R1JS8G26X4RM2G",
    "product_id": "B00D4NJSJE",
    "product_parent": "408940178",
    "product_title": "The Game of Life Money and Asset Board Game, Fame Edition",
    "product_category": "Toys",
    "star_rating": "5",
    "helpful_votes": "0",
    "total_votes": "1",
    "vine": "N",
    "verified_purchase": "Y",
    "review_headline": "Five Stars",
    "review_body": "Great gift!",
    "review_date": "2015-08-31"
  },
  {
    "marketplace": "US",
    "customer_id": "44928701",
    "review_id": "R1ORWPFQ9EDYA0",
    "product_id": "B000HZZT7W",
    "product_parent": "967346376",
    "product_title": "LCR Dice Game (Red Chips)",
    "product_category": "Toys",
    "star_rating": "5",
    "helpful_votes": "0",
    "total_votes": "0",
    "vine": "N",
    "verified_purchase": "Y",
    "review_headline": "Five Stars",
    "review_body": "We play this game quite a bit with friends.",
    "review_date": "2015-08-31"
  },
  {
    "marketplace": "US",
    "customer_id": "43173394",
    "review_id": "R1YIX4SO32U0GT",
    "product_id": "B002G54DAA",
    "product_parent": "57447684",
    "product_title": "BCW - Deluxe Currency Slab - Regular Bill - Dollar / Currency Collecting Supplies",
    "product_category": "Toys",
    "star_rating": "5",
    "helpful_votes": "0",
    "total_votes": "1",
    "vine": "N",
    "verified_purchase": "Y",
    "review_headline": "BCW - Deluxe Currency Slab",
    "review_body": "Fits my $20 bill perfectly.",
    "review_date": "2015-08-31"
  },
  {
    "marketplace": "US",
    "customer_id": "11210951",
    "review_id": "R1W3QQZ8JKECCI",
    "product_id": "B003JT0L4Y",
    "product_parent": "876626440",
    "product_title": "Ocean Life Stamps Birthday Party Supplies Loot Bag Accessories 24 Pieces per Unit",
    "product_category": "Toys",
    "star_rating": "5",
    "helpful_votes": "0",
    "total_votes": "0",
    "vine": "N",
    "verified_purchase": "Y",
    "review_headline": "Fun for birthday party favor",
    "review_body": "I ordered these for my 3 year old son's birthday party as party favors. They were a huge hit &amp; the perfect fit for a 3 year old!",
    "review_date": "2015-08-31"
  },
  {
    "marketplace": "US",
    "customer_id": "12918717",
    "review_id": "RZX17JIYIPAR",
    "product_id": "B00KQUNNZ8",
    "product_parent": "644368246",
    "product_title": "New Age Scare Halloween Party Pumpkin and Bat Hanging Round Lantern Decoration, Paper, 9\" Pack of 3",
    "product_category": "Toys",
    "star_rating": "5",
    "helpful_votes": "0",
    "total_votes": "0",
    "vine": "N",
    "verified_purchase": "N",
    "review_headline": "Love the prints!",
    "review_body": "These paper lanterns are adorable! The colors are bright, the patterns are fun &amp; trendy &amp; they're a good size! They came well packaged &amp; are easy to assemble, they're also really easy to take apart &amp; flatten back down! We'll get to use them for a few Halloweens I'm sure! They even came with the string needed to hang! I'm glad I grabbed them, they're really cute, my kids are excited to add to the Halloween decor &amp; are already asking to hang them!&lt;br /&gt;I received this item at a discount for my unbiased review.",
    "review_date": "2015-08-31"
  },
  {
    "marketplace": "US",
    "customer_id": "47781982",
    "review_id": "RIDVQ4P3WJR42",
    "product_id": "B00WTGGGRO",
    "product_parent": "162262449",
    "product_title": "Pokemon - Double Dragon Energy (97/108) - XY Roaring Skies",
    "product_category": "Toys",
    "star_rating": "5",
    "helpful_votes": "1",
    "total_votes": "1",
    "vine": "N",
    "verified_purchase": "Y",
    "review_headline": "Five Stars",
    "review_body": "My Grandson loves these cards.  Thank you",
    "review_date": "2015-08-31"
  },
  {
    "marketplace": "US",
    "customer_id": "34874898",
    "review_id": "R1WQ3ME3JAG2O1",
    "product_id": "B00WAKEQLW",
    "product_parent": "824555589",
    "product_title": "Whiffer Sniffers Mystery Pack 1 Scented Backpack Clip",
    "product_category": "Toys",
    "star_rating": "1",
    "helpful_votes": "0",
    "total_votes": "6",
    "vine": "N",
    "verified_purchase": "Y",
    "review_headline": "One Star",
    "review_body": "Received a pineapple rather than the advertised s'more",
    "review_date": "2015-08-31"
  },
  {
    "marketplace": "US",
    "customer_id": "20962528",
    "review_id": "RNTPOUDQIICBF",
    "product_id": "B00M5AT30G",
    "product_parent": "548190970",
    "product_title": "AmiGami Fox and Owl Figure 2-Pack",
    "product_category": "Toys",
    "star_rating": "4",
    "helpful_votes": "0",
    "total_votes": "0",
    "vine": "N",
    "verified_purchase": "Y",
    "review_headline": "Four Stars",
    "review_body": "Christmas gift for 6yr",
    "review_date": "2015-08-31"
  },
  {
    "marketplace": "US",
    "customer_id": "47781982",
    "review_id": "R3AHZWWOL0IAV0",
    "product_id": "B00GNDY40U",
    "product_parent": "438056479",
    "product_title": "Pokemon - Gyarados (31/113) - Legendary Treasures",
    "product_category": "Toys",
    "star_rating": "5",
    "helpful_votes": "0",
    "total_votes": "0",
    "vine": "N",
    "verified_purchase": "Y",
    "review_headline": "Five Stars",
    "review_body": "My Grandson loves these cards.  Thank you",
    "review_date": "2015-08-31"
  },
  {
    "marketplace": "US",
    "customer_id": "13328687",
    "review_id": "R3PDXKS9O2Z20B",
    "product_id": "B00WJ1OPMW",
    "product_parent": "120071056",
    "product_title": "LeapFrog LeapTV Letter Factory Adventures Educational, Active Video Game",
    "product_category": "Toys",
    "star_rating": "5",
    "helpful_votes": "0",
    "total_votes": "0",
    "vine": "N",
    "verified_purchase": "N",
    "review_headline": "they LOVE this game",
    "review_body": "Even though both of my kids are at the top of this age recommendation level, they LOVE this game!  I love how it caters to the kinesthetic learner by asking them to move their bodies into the shape of the letters.  It even takes teamwork as sometimes two people are required to finish the letter.  My kids know all of their letter sounds and shapes, but this didn't stop them from playing the game over and over.",
    "review_date": "2015-08-31"
  },
  {
    "marketplace": "US",
    "customer_id": "16245463",
    "review_id": "R23URALWA7IHWL",
    "product_id": "B00IGXV9UI",
    "product_parent": "765869385",
    "product_title": "Disney Planes: Fire &amp; Rescue Scoop &amp; Spray Firefighter Dusty",
    "product_category": "Toys",
    "star_rating": "5",
    "helpful_votes": "0",
    "total_votes": "0",
    "vine": "N",
    "verified_purchase": "Y",
    "review_headline": "Five Stars",
    "review_body": "My 5 year old son loves this.",
    "review_date": "2015-08-31"
  },
  {
    "marketplace": "US",
    "customer_id": "11916403",
    "review_id": "R36L8VKT9ZSUY6",
    "product_id": "B00JVY9J1M",
    "product_parent": "771795950",
    "product_title": "Winston Zeddmore &amp; Ecto-1: Funko POP! Rides x Ghostbusters Vinyl Figure",
    "product_category": "Toys",
    "star_rating": "5",
    "helpful_votes": "0",
    "total_votes": "0",
    "vine": "N",
    "verified_purchase": "Y",
    "review_headline": "Five Stars",
    "review_body": "love it",
    "review_date": "2015-08-31"
  },
  {
    "marketplace": "US",
    "customer_id": "5543658",
    "review_id": "R23JRQR6VMY4TV",
    "product_id": "B008AL15M8",
    "product_parent": "211944547",
    "product_title": "Yu-Gi-Oh! - Solemn Judgment (GLD5-EN045) - Gold Series: Haunted Mine - Limited Edition - Ghost/Gold Hybrid Rare",
    "product_category": "Toys",
    "star_rating": "5",
    "helpful_votes": "0",
    "total_votes": "0",
    "vine": "N",
    "verified_purchase": "Y",
    "review_headline": "Absolutely one of the best traps in the game",
    "review_body": "Absolutely one of the best traps in the game. It is never a dead and always live since you can always pay half your lifepoints for its cost. It's main power is that it can stop any card. Hopefully this card comes off the Forbidden/Limited list soon.",
    "review_date": "2015-08-31"
  },
  {
    "marketplace": "US",
    "customer_id": "41168357",
    "review_id": "R3T73PQZZ9F6GT",
    "product_id": "B00CAEEDC0",
    "product_parent": "72805974",
    "product_title": "Seat Pets Car Seat Toy",
    "product_category": "Toys",
    "star_rating": "5",
    "helpful_votes": "0",
    "total_votes": "0",
    "vine": "N",
    "verified_purchase": "Y",
    "review_headline": "Five Stars",
    "review_body": "really soft and cute",
    "review_date": "2015-08-31"
  },
  {
    "marketplace": "US",
    "customer_id": "32866903",
    "review_id": "R300I65NW30Y19",
    "product_id": "B000TFLAZA",
    "product_parent": "149264874",
    "product_title": "Baby Einstein Octoplush",
    "product_category": "Toys",
    "star_rating": "5",
    "helpful_votes": "0",
    "total_votes": "0",
    "vine": "N",
    "verified_purchase": "Y",
    "review_headline": "Five Stars",
    "review_body": "baby loved it - so attractive and very nice",
    "review_date": "2015-08-31"
  }
]</value>
                            </entry>
                            <entry>
<key>character-set</key>
<value>UTF-8</value>
                            </entry>
                            <entry>
<key>mime-type</key>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>1 min</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>GenerateFlowFile</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.GenerateFlowFile</type>
                </processors>
                <processors>
                    <id>ff1f0baf-09e3-360b-0000-000000000000</id>
                    <parentGroupId>a50dbc42-5ed4-3812-0000-000000000000</parentGroupId>
                    <position>
                        <x>512.0</x>
                        <y>576.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-kafka-2-6-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.16.1</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>bootstrap.servers</key>
<value>
    <name>bootstrap.servers</name>
</value>
                            </entry>
                            <entry>
<key>topic</key>
<value>
    <name>topic</name>
</value>
                            </entry>
                            <entry>
<key>use-transactions</key>
<value>
    <name>use-transactions</name>
</value>
                            </entry>
                            <entry>
<key>transactional-id-prefix</key>
<value>
    <dependencies>
        <dependentValues>true</dependentValues>
        <propertyName>use-transactions</propertyName>
    </dependencies>
    <name>transactional-id-prefix</name>
</value>
                            </entry>
                            <entry>
<key>message-demarcator</key>
<value>
    <name>message-demarcator</name>
</value>
                            </entry>
                            <entry>
<key>Failure Strategy</key>
<value>
    <name>Failure Strategy</name>
</value>
                            </entry>
                            <entry>
<key>acks</key>
<value>
    <name>acks</name>
</value>
                            </entry>
                            <entry>
<key>attribute-name-regex</key>
<value>
    <name>attribute-name-regex</name>
</value>
                            </entry>
                            <entry>
<key>message-header-encoding</key>
<value>
    <name>message-header-encoding</name>
</value>
                            </entry>
                            <entry>
<key>security.protocol</key>
<value>
    <name>security.protocol</name>
</value>
                            </entry>
                            <entry>
<key>sasl.mechanism</key>
<value>
    <name>sasl.mechanism</name>
</value>
                            </entry>
                            <entry>
<key>kerberos-credentials-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
    <name>kerberos-credentials-service</name>
</value>
                            </entry>
                            <entry>
<key>kerberos-user-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.kerberos.SelfContainedKerberosUserService</identifiesControllerService>
    <name>kerberos-user-service</name>
</value>
                            </entry>
                            <entry>
<key>sasl.kerberos.service.name</key>
<value>
    <name>sasl.kerberos.service.name</name>
</value>
                            </entry>
                            <entry>
<key>sasl.kerberos.principal</key>
<value>
    <name>sasl.kerberos.principal</name>
</value>
                            </entry>
                            <entry>
<key>sasl.kerberos.keytab</key>
<value>
    <name>sasl.kerberos.keytab</name>
</value>
                            </entry>
                            <entry>
<key>sasl.username</key>
<value>
    <name>sasl.username</name>
</value>
                            </entry>
                            <entry>
<key>sasl.password</key>
<value>
    <name>sasl.password</name>
</value>
                            </entry>
                            <entry>
<key>sasl.token.auth</key>
<value>
    <name>sasl.token.auth</name>
</value>
                            </entry>
                            <entry>
<key>ssl.context.service</key>
<value>
    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
    <name>ssl.context.service</name>
</value>
                            </entry>
                            <entry>
<key>kafka-key</key>
<value>
    <name>kafka-key</name>
</value>
                            </entry>
                            <entry>
<key>key-attribute-encoding</key>
<value>
    <name>key-attribute-encoding</name>
</value>
                            </entry>
                            <entry>
<key>max.request.size</key>
<value>
    <name>max.request.size</name>
</value>
                            </entry>
                            <entry>
<key>ack.wait.time</key>
<value>
    <name>ack.wait.time</name>
</value>
                            </entry>
                            <entry>
<key>max.block.ms</key>
<value>
    <name>max.block.ms</name>
</value>
                            </entry>
                            <entry>
<key>partitioner.class</key>
<value>
    <name>partitioner.class</name>
</value>
                            </entry>
                            <entry>
<key>partition</key>
<value>
    <name>partition</name>
</value>
                            </entry>
                            <entry>
<key>compression.type</key>
<value>
    <name>compression.type</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>bootstrap.servers</key>
<value>${kafka_brokers}</value>
                            </entry>
                            <entry>
<key>topic</key>
<value>reviews</value>
                            </entry>
                            <entry>
<key>use-transactions</key>
<value>false</value>
                            </entry>
                            <entry>
<key>transactional-id-prefix</key>
                            </entry>
                            <entry>
<key>message-demarcator</key>
                            </entry>
                            <entry>
<key>Failure Strategy</key>
<value>Route to Failure</value>
                            </entry>
                            <entry>
<key>acks</key>
<value>1</value>
                            </entry>
                            <entry>
<key>attribute-name-regex</key>
                            </entry>
                            <entry>
<key>message-header-encoding</key>
<value>UTF-8</value>
                            </entry>
                            <entry>
<key>security.protocol</key>
<value>PLAINTEXT</value>
                            </entry>
                            <entry>
<key>sasl.mechanism</key>
<value>GSSAPI</value>
                            </entry>
                            <entry>
<key>kerberos-credentials-service</key>
                            </entry>
                            <entry>
<key>kerberos-user-service</key>
                            </entry>
                            <entry>
<key>sasl.kerberos.service.name</key>
                            </entry>
                            <entry>
<key>sasl.kerberos.principal</key>
                            </entry>
                            <entry>
<key>sasl.kerberos.keytab</key>
                            </entry>
                            <entry>
<key>sasl.username</key>
                            </entry>
                            <entry>
<key>sasl.password</key>
                            </entry>
                            <entry>
<key>sasl.token.auth</key>
<value>false</value>
                            </entry>
                            <entry>
<key>ssl.context.service</key>
                            </entry>
                            <entry>
<key>kafka-key</key>
                            </entry>
                            <entry>
<key>key-attribute-encoding</key>
<value>utf-8</value>
                            </entry>
                            <entry>
<key>max.request.size</key>
<value>1 MB</value>
                            </entry>
                            <entry>
<key>ack.wait.time</key>
<value>5 secs</value>
                            </entry>
                            <entry>
<key>max.block.ms</key>
<value>5 sec</value>
                            </entry>
                            <entry>
<key>partitioner.class</key>
<value>org.apache.kafka.clients.producer.internals.DefaultPartitioner</value>
                            </entry>
                            <entry>
<key>partition</key>
                            </entry>
                            <entry>
<key>compression.type</key>
<value>none</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>PublishKafka_2_6</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.kafka.pubsub.PublishKafka_2_6</type>
                </processors>
            </contents>
            <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
            <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
            <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
            <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
            <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
            <name>KafkaProducer</name>
            <variables/>
        </processGroups>
    </snippet>
    <timestamp>05/09/2022 17:02:49 CDT</timestamp>
</template>
